<ion-header>
  <ion-navbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getCompetions($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let cmp of foot.foots">
    <ion-card-header>
      {{ cmp.caption }}
    </ion-card-header>
    <ion-card-content>

  </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item  *ngFor="let op of foot.foots">
      <p>{{ op.caption }}</p>
    </ion-item>
  </ion-list>

  <p>kasfj</p>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Yo</ion-title>
  </ion-toolbar>
</ion-footer>
